.a1{
    border-radius: 10%;
    text-shadow: 2px 2px 2px red;
    
}
.pp1{
    color: crimson;
}
.pp2{
    color: sienna;
}
.ii1{
    color: olive;
}
.b1{
    color: gold;
}
.b2{
    color: red;
}.b3{
    color:tomato;
}.b4{
    color: mediumorchid;
}.b5{
    color: magenta;
}.b6{
    color:mediumspringgreen;
}